.channel-browser-item {
  color: black;
  display: flex;
  min-height: 72px;
  align-items: center;
  border-bottom: 1px solid rgba(221,221,221,1);
  &:visited { text-decoration: none; color: black}
  &:hover { text-decoration: none; color: black; background-color: #F7F7F7;}
  &:focus { text-decoration: none; color: black}
  &:active { text-decoration: none; color: black}
  z-index: 100;
}

.channel-browser-item-body {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  min-height: 45px;
}