@import "./channel_browser_item.scss";

.channel-browser-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.channel-browser-window {
  position: absolute;
  top: 65px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.channel-log {
  position: absolute;
  max-height: 100%;
  width: 100%;
  bottom: 0px;
  overflow-y: auto;
}