// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-body {
  color: #1d1c1d;
  line-height: 1.5rem;
  background-color: #F8F8F8;
  height: 100vh;
  padding: 77px;
}

.subtitle {
  text-align: center;
  margin-bottom: 24px;
}

.signin_header {
  text-align: center;
  font-weight: 550;
}

.login-card {
  top: 77px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  padding: 2rem 2rem 6rem;
  border: 1px solid #ddd;
  width: 45%;
  // margin-left: auto;
  // margin-right: auto;
  margin: auto;
  line-height: 1.5rem;
  // font-size: 16px;
  min-width: 480px;
  // margin-top: 77px;
}

.login-form {
  text-align: center;
  width: 90%;
}

.login-form-box {
  line-height: 16px;
}

.login-input {
  box-sizing: border-box;
  font-size: 1.25rem;
  padding: .75rem;
  border: 1px solid #868686;
  border-radius: .25rem;
  margin: 0 0 .5rem;
  height: auto;
  font-family: inherit;
  width: 80%;
  // min-width: 300px;
}

.extra-margin {
  margin-bottom: 20px;
}

.session-submit { 
  background: #007a5a;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  font-family: inherit;
  padding: 14px 32px 16px;
  line-height: 1rem;
  width: 80%;
  box-sizing: border-box;
  // min-width: 326px;
  
}

.demo-button {
  box-sizing: border-box;
  margin-top: 10px;
  background: #007a5a;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  font-family: inherit;
  padding: 14px 32px 16px;
  line-height: 1rem;
  width: 80%;
  min-width: 326px;
  
}

p {
    margin: 0 0 1rem;
}

.errors {
  display: block;
  align-content: center;
  text-align: center;
  color: red;
  margin-top: 10px;
}