// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-body{
    background-color: #f8f8f8;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    min-width: 810px;
    z-index: 0;
}

.subtitle {
  text-align: center;
  margin-bottom: 24px;
}

.signin_header {
  text-align: center;
  font-weight: 550;
}

.login-card {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  padding: 2rem 2rem 6rem;
  border: 1px solid #ddd;
  width: 40%;
  margin: auto;
  line-height: 1.5rem;
  min-width: 480px;
  max-width: 610px;
}

.login-form {
  text-align: center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-box {
  line-height: 16px;
}

.login-input {
  box-sizing: border-box;
  font-size: 1.25rem;
  padding: .75rem;
  border: 1px solid #868686;
  border-radius: .25rem;
  margin: 5px 0;
  height: auto;
  font-family: inherit;
  width: 80%;
  outline: none;
  &:focus {
    border: 1px solid rgba(55,71,79 ,1);
    transition: border 80ms ease-out,box-shadow 80ms ease-out;
    box-shadow: 0 0 0 3px rgba(79,195,247 ,1);
    transition-property: border, box-shadow;
    transition-duration: 80ms, 80ms;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0s, 0s;
  }
  // &:focus {
  //   border: 1px solid rgba(55,71,79 ,1);
  //   transition: border 80ms ease-out,box-shadow 80ms ease-out;
  //   box-shadow: 0 0 3px 3px rgba(79,195,247 ,1);
  //   transition-property: border, box-shadow;
  //   transition-duration: 80ms, 80ms;
  //   transition-timing-function: ease-out, ease-out;
  //   transition-delay: 0s, 0s;
  // }
}

.extra-margin {
  margin-bottom: 20px;
}

.session-submit { 
  background: #007a5a;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  font-family: inherit;
  padding: 14px 32px 16px;
  line-height: 1rem;
  width: 80%;
  box-sizing: border-box;
}

.demo-button {
  box-sizing: border-box;
  margin-top: 10px;
  background: #611f69;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  font-family: inherit;
  padding: 14px 32px 16px;
  line-height: 1rem;
  width: 80%;
  min-width: 326px;
}

p {
    margin: 0 0 1rem;
}

.errors {
  display: block;
  align-content: center;
  text-align: center;
  color: red;
  margin-top: 10px;
}