.chat-window {
  position: absolute;
  top: 99px;
  right: 0px;
  left: 0px;
  bottom: 109px;
}

.chat-log {
  position: absolute;
  padding-top: 38px;
  padding-bottom: 10px;
  max-height: 100%;
  width: 100%;
  bottom: 0px;
  overflow-y: auto;
}