.chat-item {
  position: relative;
  display: flex;
  padding: 6px 20px;
  width: 100%;
  min-height: 22px;
  box-sizing: border-box;
  &:hover .chat-item-toolbar {
    display: flex;
  }
}

.edit-message-container {
  background-color: #FEF9EC;
  padding: 6px 20px;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  border-radius: 4px;
  border-color: #8D8D8E;
  form {
    width: 100%;
    textarea {
      font-family: inherit;
      padding: 10px;  
      box-sizing: border-box;
      flex-wrap: wrap;
      word-break: break-all;
      height: 85px;
      resize: none;
      width: 100%;
    }
  }
  &:hover {
    .gutter-timestamp {
      display: initial;
    }
  }
}


.edit-body-container {
  position: relative;
  display: flex;
  width: 100%;
  // padding: 6px 20px;
  min-height: 22px;
  &:hover .chat-item-toolbar {
    display: flex;
  }
}

// .edit-form-container textarea {
//   width: 100%;
//   font-family: inherit;
//   border-radius: 4px;
//   border-color: #8D8D8E;
//   box-sizing: border-box;
//   resize: none;
//   display: flex;
//   flex-wrap: wrap;
//   word-break: break-all;
//   padding: 10px 0px 48px 43px;  
//   &:focus {
//     border-color: rgba(97,96,97,1);
//     transition: all 80ms linear;
//   }
// }

.chat-avatar {
  height: 36px;
  width: 36px;
  padding-right: 8px;
  border-radius: 3px;
  user-select: none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -ms-user-select:none;
}

.chat {
  display:-webkit-flex;
  padding: 4px 20px 4px 20px;
  min-height: 18px;
}

.chat-header {
  margin-top: -2px;
}

// .chat-body {
//   margin-top: -2px;
// }

.chat-item:hover {
  background-color: #F7F7F7;
  .gutter-timestamp {
    display: initial;
  }
}

.chat-content {
  position: relative;
  font-size: 15px;
  line-height: 1.46668;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-all;
}

.chat-author {
  display: inline-block;
  font-weight: bold;
  align-self: center;
  margin-right: 8px;
}

.chat-left-margin {
  position: relative;
  min-width: 44px;
}

.timestamp {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: grey;
}

.gutter-timestamp {
  display: none;
  line-height: 1.46668;
  font-size: 12px;
  color: grey;
  user-select: none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -ms-user-select:none;
}

.chat-item-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: -26px;
  right: 17px;
  min-width: 32px;
  height: 32px;
  padding: 2px;
  z-index:1;
  border-radius: 4px;
  display: none;
  box-shadow: 0 0 0 0px,0 4px 12px 0 rgba(0,0,0,.12);
  border: 1px solid #ddd;
  box-sizing: border-box;
}