li {
  list-style: none;
}
.chatroom-container {
  display: grid;
  grid-area: main;
  bottom: 109px;
  overflow-y: auto;
}

.primary-message-form {
  grid-area: chatbox;
  // background-color: black;
}

.primary-message-form {
  padding: 0px 20px 8px 20px;
}

.primary-message-form textarea {
  height: 85px;
  width: 100%;
  left: 20px;
  right: 0;
  border-radius: 4px;
  border-color: #8D8D8E;
  box-sizing: border-box;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 10px 0px 48px 43px
}

///////// CHATROOM //////////

.post {
  display:-webkit-flex;
  padding: 4px 20px 4px 20px;
  min-height: 18px;
}

.post:hover {
  background-color: #F7F7F7;
  .gutter-timestamp {
    display: initial;
  }
}

.post-content {
  position: relative;
  font-size: 15px;
  line-height: 1.46668;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-all;
}

.post-header {
}

.post-author {
  display: inline-block;
  font-weight: bold;
  align-self: center;
  margin-right: 8px;
}


.post-left-margin {
  position: relative;
  height: 100%;
  min-width: 45px;
}

.post-avatar {
  height: 36px;
  width: 36px;
  margin-top: 2px;
  margin-right: 9px;
}

.timestamp {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: grey;

}

.gutter-timestamp {
  display: none;
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  color: grey;
}