li {
  list-style: none;
}
.chatroom-container {
  display: grid;
  grid-area: main;
  bottom: 109px;
  overflow-y: scroll;
}
.message-list {
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  // justify-content: flex-end;
  padding-left: 49px;
  padding-bottom: 109px;
  // border: 1px solid #999;
  // display: inline-block;
  // vertical-align: bottom;
  // position: relative;
  // margin: 0 5px;
  overflow-y: auto;
  // pointer-events: auto;
  // max-height: 90%;

}

.message-list :first-child {
  margin-top: auto !important;
}


// .message-list {
//   display: flex;
//   flex-direction: column;
//   // justify-content: flex-end;
//   padding-left: 49px;
//   // border: 1px solid #999;
//   // display: inline-block;
//   // vertical-align: bottom;
//   // position: relative;
//   // margin: 0 5px;
//   overflow-y: scroll;
//   // pointer-events: auto;
//   max-height: 90%;

// }

.primary-message-form {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 220px;
  height: 109px;
}

.primary-message-form form{
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 220px;
  height: 109px;
  // width: 100%;
  box-sizing: border-box;
  padding: 0px 20px 8px 20px;

}

.primary-message-form textarea {
  height: 90px;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 0px 0px 48px 43px
}

// .chatroom-container {
//   display: inline-block;
//   vertical-align: bottom;
//   position: relative;
//   display: flex;
//   grid-area: main;

//   width: 100%;

//   // height: 100px;
//   // z-index: 20;
//   // display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }
// .message-list {
//   overflow-y: scroll;
//   width: inherit;
//   // height: inherit;
//   // bottom: 0px;
//   // width: 100vw;
//   border: solid gray 1px;
// }
.load-button {
  // position: absolute;
  // bottom: 0px;
  // top: 5px;
  // right: 5px;
}
