li {
  list-style: none;
}
.chatroom-container {
  display: grid;
  grid-area: main;
  bottom: 109px;
  overflow-y: scroll;
}
.message-list {
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  // padding-left: 64px;
  margin-bottom: 109px;
  overflow-y: auto;
}

.message-list :first-child {
  margin-top: auto !important;
}

.primary-message-form {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 220px;
  height: 109px;
}

.primary-message-form form{
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 220px;
  height: 109px;
  box-sizing: border-box;
  padding: 0px 20px 8px 20px;
}

.primary-message-form textarea {
  height: 90px;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 10px 0px 48px 43px
}

.message-list-card {
  display: flex;
  float: left;
  // flex-direction: row;
  // align-content: flex-start;
  justify-content: flex-start;
  left: 220px;
  right: 0px;
  padding: 6px 20px 6px 20px;
}

.message-body {
  padding-left: 44px;

}

.message-body h6 {
  font-weight: bold;
}

.message-body div {
  position: relative;
  left: 0px;
  right: 1000px;
  line-height: 1.5rem;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-all;
}
