.dropdown-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.logout-button {
  display: flex;
  font-size: 8px;
}

.dropdown-menu-item {
  font-size: 15px;
  padding: 0px 24px;
  height: 28px;
  line-height: 28px;
  font-weight: 400;
    &:hover {
    background-color: #2C649E;
    color: white;
    cursor: pointer;
  }
}

.channel-dropdown {
  position: absolute;
  cursor: default;
  box-sizing: border-box;
  padding: 12px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 200px;
  background-color: white;
  top: 192px;
  left: 221px;
  z-index: 10;
  color: black;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  box-shadow: 0 0 0 0px,0 4px 12px 0 rgba(0,0,0,.12);
}

.channel-dropdown-menu-item {
  font-size: 15px;
  padding: 0px 24px;
  height: 28px;
  line-height: 28px;
  font-weight: 400;
}

.profile-dropdown {
  position: absolute;
  cursor: default;
  box-sizing: border-box;
  padding: 12px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 300px;
  background-color: white;
  top: 98px;
  left: 16px;
  z-index: 10;
  color: black;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  box-shadow: 0 0 0 0px,0 4px 12px 0 rgba(0,0,0,.12);
}

.profile-divider {
  margin-top: 10px;
  border-bottom: 1px solid rgba(221,221,221,1);
  margin-bottom: 10px;
}

.profile-menu-header {
  height: 52px;
  box-sizing: border-box;
  // border-bottom: 1px solid #868686;
}

.profile-pic {
  float: left;
  height: 36px;
  width: 36px;
  margin-top: 0px;
  margin-right: 9px;
  background-color: red;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  box-shadow: 0 0 0 1px, 0 18px 48px 0 rgba(0,0,0,.35);
  border-radius: 8px;
}

.create-channel-container {
  background-color: white;
  width: 520px;
  height: 515px;
  z-index: 16;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal-header {
  line-height: 0;
  font-size: 22px;
  align-items: center;
  display: flex;
  min-height: 70px;
  padding: 20px 28px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.modal-body {
  overflow-y: scroll;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 28px;
}

.channel-form-input {
  box-sizing: border-box;
  font-size: 18px;
  padding: .75rem;
  border: 1px solid #868686;
  border-radius: .25rem;
  margin: 0 0 .5rem;
  height: 44px;
  font-family: inherit;
  width: 100%;
  // min-width: 300px;
}

.modal-submit {
  position: absolute;
  right: 28px;
  bottom: 20px;
  box-sizing: border-box;
  background: #CFCFCF;
  color: #4B4A4B;
  vertical-align: middle;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  font-family: inherit;
  height: 36px;
  width: 80px;
}