.sidebar {
  grid-area: sidebar;
  user-select: none;
  background-color: #303E4D;
  height: 100%;
  position: relative;
  padding: 12px 0px 8px 0px;
  color: silver;
}

.sidebar-header-container {
  display: flex;
  height: 30px;
  padding: 0 16px 0 16px;
}

.channel-header {
  min-width: 180px;
  margin: auto;
  font-size: 14px;
  font-weight: 1;
  margin-left: 0;
  &:hover {
    cursor: pointer;
  }
}

.plus-button {
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  width: 23px;
  height: 23px;
  margin: auto;
  margin-right: 0;
  border-radius: 4px;
}

.plus-button:hover {
  cursor: pointer;
  background-color: #CBCFD34C;
}

.caret-down {
  transition: .1s linear;
  transform-style: preserve-3d;
}

.caret-rotate {
  transform: rotate(-90deg)
}

.sidebar-ul {
  li {
    padding: 4px 22px 4px 22px;
  }
}

.hide {
  display: none;
}