.topnav-bar {
  grid-area: topnav;
  border-bottom: 1px solid #E2E2E2;
}

.left-header {
  box-sizing: border-box;
  padding: 8px 8px 8px 20px
}

.left-header h2 {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  display: inline-flex;
  max-width: 100%;
  align-items: baseline;
}