/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "reset.scss";
@import "api/*"; 
@import "./home/home.scss";
@import "./home/intro.scss";
@import "static_pages.scss"; 
@import "./app/sidebar/profile/profile.scss";
@import "./app/topnav.scss";
@import "./app/sidebar/sidebar.scss";
@import "./app/main/main.scss";
@import "./app/modal.scss";
@import "./app/rightbar/rightbar.scss";
@import "./app/rightbar/rightbar_header.scss";
@import "./buttons.scss";

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    font-size: 15px;
    font-size: 15px;
    line-height: 1.46668;
    font-weight: 400;
}

.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 260px auto;
  grid-template-rows: 38px auto;
  grid-template-areas: 
    "topnav topnav"
    // "profile-box viewHeader"
    "sidebar main";
  position: fixed;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.app2 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 260px auto 391px;
  grid-template-rows: 38px auto;
  grid-template-areas: 
    "topnav topnav topnav"
    // "profile-box viewHeader rightbarHeader"
    "sidebar main rightbar";
  position: fixed;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.hide {
  display: none;
}

a:visited, a:hover, a:focus, a:active { text-decoration: none; outline: 0;}
//see outlines
// * { 
//   outline: 1px solid red;
//   outline-offset: -1px;
// }

// .font-standard {
//   font-size: 15px;
//   line-height: 1.46668;
//   font-weight: 400;
// }
