.button-container {
  text-align: center;
  font-size: 13px;
  color: rgba(29, 28, 29, 0.7);
  &:visited { text-decoration: none; color: rgba(29, 28, 29, 0.7)}
  &:hover { text-decoration: none; color: rgba(29, 28, 29, 0.7); cursor: pointer}
  &:focus { text-decoration: none; color: rgba(29, 28, 29, 0.7)}
  &:active { text-decoration: none; color: rgba(29, 28, 29, 0.7)}
  div {
    &:hover {
      background-color: #E2E2E2;
      cursor: pointer;
    }
  }
}

.circle-plus {
  font-size: 15px;
  height: 40px;
  width: 40px;
  font-weight: 100;
  text-align: center;
  line-height: 2.9;
  border-radius: 25px;
  color: rgba(29, 28, 29, 0.7);
  background-color: #F7F7F7;
}

.circle-x {
  font-size: 15px;
  height: 40px;
  width: 40px;
  font-weight: 100;
  text-align: center;
  line-height: 2.9;
  border-radius: 25px;
  color: rgba(29, 28, 29, 0.7);
  background-color: #F7F7F7;
  &:hover {
    color: black;
    cursor: pointer;
    background-color: #E2E2E2;
  }
}

.plus-button {
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  width: 23px;
  height: 23px;
  margin: auto;
  margin-right: 0;
  border-radius: 4px;
}

.plus-button:hover {
  cursor: pointer;
  background-color: #CBCFD34C;
}

.green-button {
  color: white;
  background: #006e51;
  height: 36px;
  min-width: 80px;
  box-shadow: none;
  padding: 0 12px 1px;
  border: 1px solid rgba(29,28,29,0.3);
  border-radius: 4px;
  font-weight: 900;
  outline:none;
  border:none;
  &:hover {
    background-color: #148567;
    border-color: rgba(29,28,29,.5);
    transition: all 80ms linear;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
  }
}

.purple-button {
  color: white;
  background-color: #611f69;
  height: 36px;
  min-width: 80px;
  box-shadow: none;
  padding: 0 12px 1px;
  border: 1px solid rgba(29,28,29,0.3);
  border-radius: 4px;
  font-weight: 900;
  outline:none;
  border:none;
  &:hover {
    background-color: #400d40;
    border-color: rgba(29,28,29,.5);
    transition: all 80ms linear;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
  }
}

.pale-button {
  background: rgba(248,248,248,1);
  height: 36px;
  min-width: 80px;
  box-shadow: none;
  padding: 0 12px 1px;
  border: 1px solid rgba(29,28,29,0.3);
  border-radius: 4px;
  font-weight: 900;
  &:hover {
    background-color: rgba(29,28,29,.04);
    border-color: rgba(29,28,29,.5);
    transition: all 80ms linear;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  }
}

.chat-toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  font-weight: 100;
  border-radius: 4px;
  color: rgba(29, 28, 29, 0.7);
  &:hover {
    color: black;
    cursor: pointer;
    background-color: #F7F7F7;
  }
}